body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0445f8;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-card {
    background-color: #e9ecef;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .edit-button, .transfer-button, .delete-button {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: #007bff;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.transfer-button {
    background-color: #28a745;
}

.transfer-button:hover {
    background-color: #218838;
}

#delete-button {
    background-color: #dc3545;
}

#delete-button:hover {
    background-color: #c82333;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838; /* Verde escuro */
}

.task-header a {
    margin-left: 10px;
}
