<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <a href="/add" class="button">Adicionar Tarefa</a>
        
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-card">
                <div class="task-header">
                    <h4>{{ task['title'] }}</h4>
                    <div>
                        {% if task['status'] != 'Concluída' %}
                            <a href="/edit/{{ task['id'] }}" class="edit-button">Editar</a>
                            <a href="/transfer/{{ task['id'] }}" class="transfer-button">Transferir</a>
                        {% endif %}
                        <form action="{{ url_for('delete_task_route', task_id=task['id']) }}" method="post" style="display: inline;">
                            <input type="submit" value="Excluir" id="delete-button" onclick="return confirm('Tem certeza que deseja excluir esta tarefa?');">
                        </form>
                    </div>
                </div>
                <p>{{ task['description'] }}</p>
                <p><strong>Prioridade:</strong> {{ task['priority'] }}</p>
                <p><strong>Responsável:</strong> {{ task['responsible'] }}</p>
                <p><strong>Data de Conclusão:</strong> {{ task['due_date'] }}</p>

                {% if task['status'] == 'Concluída' %}
                    <p><strong>Concluída por:</strong> {{ task['completed_by'] }}</p>
                    <p><strong>Data de Conclusão:</strong> {{ task['completed_at'] }}</p>
                {% endif %}

                {% if task['status'] != 'Concluída' %}
                    <form action="{{ url_for('complete_task', task_id=task['id']) }}" method="post">
                        <input type="text" name="completed_by" placeholder="Seu nome" required>
                        <input type="submit" value="Concluir Tarefa">
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>    
</body>
</html>
